@import 'src/assets/_variables.scss';
.main {
    height: 100vh;
   
    &__left {
        background: #979797;
        filter: grayscale(.3);


        
        &__nav {
            height: 160px;
            width: 100%;
            background-color: #0071BB;
            position: absolute;
            left: 0;
        }
        
    }; 
 
    &__right {
        display: flex;
        align-items: center;
        // box-shadow: -10px 0px 10px 1px #00000033;
        padding-left: 126px;
    }
}; 


:host {
    width: 100% !important;
}



