<div class="row main m-0">
    <div class="main__left col-lg-6">
        <div class="main__left__nav">
            
        </div>
    </div>
    <div class="main__right col-lg-6 d-flex">
        <router-outlet></router-outlet>
    </div>
</div>
