.catalog {

    &__title {
        h5 {
            font-size: 22px;
            font-family: 'NotoSansGeorgian-SemiBold';
            color: #002845;
            font-weight: normal;
        }
    };
    &__subTitle {
        margin-top: 42px;
        margin-bottom: 42px;
        h4 {
            font-size: 16px;
            font-family: 'NotoSansGeorgian-Medium';
            color: #002845;
        }
    }; 

    &__item {
        p {
            font-size: 14px;
            font-family: "NotoSansGeorgian-Medium";
            cursor: pointer;

            &:hover {
                transition: .4s;
                color: #009AFF;
            }
        }
    };

    &__all {
        text-align: right;
        p {
            color: #039BFF;
            display: inline;
            font-size: 14px;
            border-bottom: 3px solid #039BFF;
            cursor: pointer;
            padding-bottom: 10px;
        };
    }

    &__online {
        background-color: #0071BB;
        border-radius: 8px;

        h2 {
            font-size: 22px;
            color: white;
            font-family: 'NotoSansGeorgian-SemiBold';
            white-space: nowrap;
        };

        p {
            font-family: "NotoSansGeorgian-Light";
            color: #ABC9DD;
            font-size: 16px;
        }
    }
}