<div class="row catalog justify-content-between">
    <div class="catalog__title col-12">
        <h5>კატალოგი</h5>
    </div>
    <div class="catalog__subTitle col-12">
        <h4>ტექნიქური მომსახურება</h4>
    </div>    
    <div class="col-lg-8 row">
        <div class="catalog__item col-lg-2">
            <p>აუდი</p>
        </div>
        <div class="catalog__item col-lg-2">
            <p>აუდი</p>
        </div>
    
        <div class="catalog__item col-lg-2">
            <p>აუდი</p>
        </div>
        <div class="catalog__item col-lg-2">
            <p>აუდი</p>
        </div>
    
        <div class="catalog__item col-lg-2">
            <p>აუდი</p>
        </div>
        <div class="catalog__item col-lg-2">
            <p>აუდი</p>
        </div>
    
        <div class="catalog__item col-lg-2">
            <p>აუდი</p>
        </div>
        <div class="catalog__item col-lg-2">
            <p>აუდი</p>
        </div>
    
        <div class="catalog__item col-lg-2">
            <p>აუდი</p>
        </div>
        <div class="catalog__item col-lg-2">
            <p>აუდი</p>
        </div>
    
        <div class="catalog__item col-lg-2">
            <p>აუდი</p>
        </div>
        <div class="catalog__item col-lg-2">
            <p>აუდი</p>
        </div>
    
        <div class="catalog__item col-lg-2">
            <p>აუდი</p>
        </div>
        <div class="catalog__item col-lg-2">
            <p>აუდი</p>
        </div>
        <div class="catalog__all col-12 d-flex justify-content-between">
            <div class="col-6 placeholder"></div>
            <div class="col-6 pr-5">
                <p>ყველა მარკა </p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 catalog__online p-5">
        <div class="">
            <h2>ონლაინ-დახმარება</h2>
        </div>
        <div class="">
            <p>მიიღე კონსულტაცია</p>
        </div>
    </div>


</div>