@import 'src/assets/_variables';

.user-profile {

    &__header {
        background-color: $blue;
        min-height: 260px;
        width: 100%;
    }; 

    &__catalog {
        margin-top: 64px;
    }; 

    &__technical {
        margin-top: 64px;
    }
}