<div class="user-profile__header col-12">
    <app-header-search></app-header-search>
</div>
<div class="container">
    <div class="row user-profile justify-content-center">
        <div class="user-profile__banner col-11">
            <app-car-banner></app-car-banner>
        </div>
        <div class="user-profile__catalog col-12">
            <app-catalog></app-catalog>
        </div>
        <div class="user-profile__technical col-12">
            <app-technical-service></app-technical-service>
        </div>
    </div>
</div>
