<div class="delivery row">
    <div class="col-lg-8 delivery__body">
        <div class="delivery__body__container">
            <app-cart-delivery-main></app-cart-delivery-main>
        </div>
    </div>
    <div class="delivery__cart col-lg">
        <app-cart-busket></app-cart-busket>
    </div>
</div>