.dealers {
    color: #222222;
        font-family:  'NotoSansGeorgian-Regular';

;

    &__title {
        margin-top: 74px;
        h2 {
            font-size: 24px;
        }; 

        h3 {
            font-size: 16px;
            margin-top: 17px;
            font-family: 'Helvetica Neue';

        };

        p {
            font-size: 14px;
            font-weight: bold;
            margin-top: 40px;

        }; 

        span {
            font-size: 14px;
            color: #A4A4A4;
            margin-top: 24px;
        }
    }; 

    &__offers {
        margin-top: 47px;

        &__box {
            border-top: 1px solid #D8D8D8;
            padding-top: 20px;
            margin-top: 30px;

            &__first {
                font-size: 16px;
          
                .eng {
                    font-family: 'Helvetica Neue';
                }
                span {
                    color: #7070706d;
                    
                }
                
            }
        }
    }

}