<div class="row dealers">
    <div class="dealers__title col-12">
        <div class="dealers__title__title w-100">
            <h2>ბორბალი Hytek300</h2>
        </div>
        <div class="dealers__title__title w-100">
            <h3>Code F8923O</h3>
        </div>
        <div class="dealers__title__title w-100">
            <p>დეტალები</p>
        </div>
        <div class="dealers__title__title w-100">
           <span>ნაპოვნია 2 შედეგი</span>
        </div>
    </div>

    <div class="col-10 dealers__offers">
        <div class="dealers__offers__box w-100 d-flex">
            <div class="dealers__offers__box__first col-lg-3">
                <p style="font-weight: bold;" class="eng">Herth Huss</p>
            </div>
            <div class="dealers__offers__box__first col-lg-3">
                <p class="eng">Code F8923O</p>
            </div>
            <div class="dealers__offers__box__first col-lg-3">
                <p>ბორბალი</p>
                <div class="">
                    <span>მხოლოდ ანალოგი</span>
                </div>
            </div>
            <div class="dealers__offers__box__first col-lg-3 text-right">
                <button class="btn btn--dark-blue" (click)="routeToChooseDealer()">ამორჩევა</button>
            </div>
        </div>

        <div class="dealers__offers__box w-100 d-flex">
            <div class="dealers__offers__box__first col-lg-3">
                <p style="font-weight: bold;">Herth Huss</p>
            </div>
            <div class="dealers__offers__box__first col-lg-3">
                <p>Code F8923O</p>
            </div>
            <div class="dealers__offers__box__first col-lg-3">
                <p>ბორბალი</p>
                <div class="">
                    <span>მხოლოდ ანალოგი</span>
                </div>
            </div>
            <div class="dealers__offers__box__first col-lg-3 text-right">
                <button class="btn btn--disabled">ამორჩევა</button>
            </div>
        </div>
    </div>
</div>