<div class="login row">
    <form action="" [formGroup]="confPhoneForm" 
                    (ngSubmit) = 'onSubmit(confPhoneForm)'>
        <div class="login__title col-12">
            <h4>რეგისტრაცია</h4>
        </div>
        <div class="login__paragraph col-12">
            <p>დაადასტურე მობილური</p>
        </div>
     
       
        <div class="login__input col-12 mt-5">
            <p>ტელეფონის ნომერი</p>
            <div class="w-100">
                <input type="text"
                       formControlName="otp"
                       [ngClass]="{invalid: f.otp.errors && isSubmitted}"
                       >
                <span>გაგზავნა</span>
            </div>
        </div>

        <div class="login__input col-12 mt-5">
            <p>შეიყვანე კოდი</p>
            <div class="w-100">
                <input type="text"
                       formControlName="code"
                       [ngClass]="{invalid: f.code.errors && isSubmitted}"
                       >
                <span>Send ?</span>
            </div>
        </div>

        <div class="login__buttons col-12 mt-5">
            <div class="login__buttons__container col-6 d-flex justify-content-between p-0">
                <button class="btn btn--secondary" 
                        type="button"
                        [routerLink]="'/main/register/delivery-address'"
                        >
                        უკან                               
            </button>
                <button class="btn btn--primary"
                        type="submit"
                        style="white-space: nowrap;"
                        [routerLink]="'/main/register/confirm-mobile'" 
                        >დასრულება</button>
            </div>
        </div>
    </form>
</div>