<div class="row categories">
    <div class="categories__left col-lg-3">
        <app-left-filter></app-left-filter>
    </div>
    <div class="categories__content col-lg-9">
        <app-categories-content></app-categories-content>
    </div>
</div>