<div class="row info">
    <div class="col-lg-8 info__body"> 
        <div class="info__body__container">
            <app-info-main></app-info-main>
        </div>
    </div>
    <div class="col-lg info__busket">
        <app-cart-busket></app-cart-busket>
    </div>
</div>