@import 'src/assets/variables';
.login {
    justify-content: center;
    &__title {

        h4 {
            font-size: 24px;

        }
    };  

    &__paragraph {

        font-size: 12px;
        color: #8e9cab;

    }

    &__input {
        p {

            color: #8e9cab;
        }
        span {
            position: absolute;
            bottom: 20%;
            right: 20%;
            font-size: 12px;
            color: #DDE3E8;
            cursor: pointer;
            &:hover {
                color: $blue;
                transition: .3;
            }

        };
        input {
            width: 369px;
            height: 73px;
            border: 1px solid #8e9cab;

        }

    }
    &__buttons {
        button {
            padding: 19px 50px 18px 51px;
        }

    };
}