<div class="busket row h-100 align-items-center justify-content-between">
    <div class="busket__box col-md-6 d-flex">
    <div class="busket__box__img">
        <img src="assets/img/shopping-cart.svg" alt="busket_img">
    </div>
    <div class="busket__box__text">
        <p>1 კალათაში</p>
    </div>
    </div>    
 
    <div class="md-6 busket__user">
        <div class="busket__user__img">
            <img src="assets/img/Bitmap.png" alt="user__img">
        </div>
    </div>
</div>