
.busket {

    &__box {
        &__img {
            width: 22px;
            height: 23px;

            img {
                width: 100%;
                height: 100%;
            };
        }; 


        &__text {
            position: absolute;
            left: 40px;
            white-space: nowrap;

            p {
                color: white !important;
                font-family: "NotoSansGeorgian-Regular";
                font-size: 10px;
            }
        }; 
    }; 


    &__user {

        &__img {
            width: 20px;
            height: 20px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 8px;
            }
        }
    }; 


}