<div class="user-profile__header w-100">
    <app-header-search></app-header-search>
</div>
<div class="user-profile__content" style="background-color: #F9FDFF;">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>      