@import 'src/assets/_variables';

.user-profile {

    &__header {
        background-color: $blue;
        min-height: 160px;
        width: 100%;
    }; 

    &__content {
        // margin-top: 70px;
    } 
}