.details {

    margin-top: 70px;

    &__img {

        &__content {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                max-height: 232px;
            }
        }
    }; 

    &__text {

        &__title {
            h2 {
                font-size: 24px;
                color: #222222;
            }
        }; 

        &__subtitle {
            margin-top: 14px;

            h3 {
                font-size: 16px;
                color: #222222;
                font-family: 'Helvetica Neue';

            }
        }; 

        &__about {
            margin-top: 38px;

            h4 {
                font-size: 14px;
                font-weight: bold;
                color: #000000;
            }
        }; 

        &__description {
            margin-top: 25px;

            p {
                font-size: 14px;
                color: #A4A4A4;
                
            }
        }; 

        &__button {
            margin-top: 46px;

            button {
                padding-left: 25px !important;
                padding-right: 25px !important;
                span {
                    padding-right: 10px;
                }
            }
        }
    }; 

    &__bottom {

        &__first {
            margin-top: 55px;

            h4 {
                font-size: 12px;
                font-weight: bold;
            }; 
        };

        &__left {
            border-left: 1px solid #979797;
            border-bottom: 1px solid #979797;
            padding: 15px;
        }; 

        &__right {
            border: 1px solid #979797;
            border-left: none;
             
        }; 

        &__description {
            display: flex;

            span {

                font-size: 14px;
                color: #A4A4A4;
                padding-right: 30px;
                font-family: 'Helvetica Neue';

            }
        }
        
    }; 

}