<div class="details row">
    <div class="details__img col-lg-4">
        <div class="details__img__content">
            <img src="assets/img/Bitmap.svg" alt="img">
        </div>
    </div>
    <div class="details__text col-lg-8">
        <div class="details__text__title col-12">
            <h2>ბორბალი Hytek300</h2>
        </div>
        <div class="details__text__subtitle col-12">
            <h3>Code F8923O</h3>
        </div>
        <div class="details__text__about col-12">
            <h4>პროდუქტის შესახებ</h4>
        </div>
        <div class="details__text__description col-12">
            <p>ცნობმა მბეჭდავმა ამწყობ დაზგაზე წიგნის საცდელი ეგზემპლარი დაბეჭდა. 
                მისი ტექსტი არამარტო 5 საუკუნის მანძილზე შემორჩა, 
                არამედ მან დღემდე, ელექტრონული ტიპოგრაფიის დრომდეც უცვლელად მოაღწია.
            </p>
        </div> 
        <div class="details__text__button">
            <button class="btn btn--green" (click)="routeToPriceDealers()">
                <span>
                    მაჩვენე ფასი
                </span>
                <img src="assets/img/busketbtn.svg" alt="">
            </button>
        </div>
    </div>

    <div class="details__bottom__first col-12 p-0">
            <div class="col-3 h-100 p-3" 
                 style="border: 1px solid #979797;
                        border-bottom: none;">
                        <div class="col-12">
                            <h4>დამახასიათებელი ნიშნები</h4>
                        </div>
        </div>
    </div>
    <div class="details__bottom__left col-3">
    
        <div class="details__bottom__description col-12">
            <div class="col-6 p-0">
                <span>Diameter</span>
            </div>
            <div class="col-6">
                <span>15</span>
            </div>
        </div>
        <div class="details__bottom__description col-12">
            <div class="col-6 p-0">
                <span>Season</span>
            </div>
            <div class="col-6">
                <span>Summer</span>
            </div>
        </div>
        <div class="details__bottom__description col-12">
            <div class="col-6 p-0">
                <span>Speed</span>
            </div>
            <div class="col-6">
                <span>IndexT</span>
            </div>
        </div>
        <div class="details__bottom__description col-12">
            <div class="col-6 p-0">
                <span>ProfileHeight</span>
            </div>
            <div class="col-6">
                <span>65</span>
            </div>
        </div>
        <div class="details__bottom__description col-12">
            <div class="col-6 p-0">
                <span>ProfileWidth</span>
            </div>
            <div class="col-6">
                <span>195</span>          
            </div>
        </div>
        <div class="details__bottom__description col-12">
            <div class="col-6 p-0">
                <span>WeightIndex</span>
            </div>
            <div class="col-6">
                <span>91</span>
            </div>
        </div>
    </div>
    <div class="details__bottom__right col-7">

    </div>
</div>