@import 'src/assets/variables';
.login {
    justify-content: center;
    &__title {

        h4 {
            font-size: 24px;
            font-family: "NotoSansGeorgian-Regular";
            font-weight: normal;


        }
    };  

    &__input {
        p {

            font-size: 12px; 
            color: #D4D9DD;
            font-family: "NotoSansGeorgian-Regular";
            margin-bottom: 7px;;


        }
        span {
            font-family: "NotoSansGeorgian-Regular";
            font-weight: normal;
            position: absolute;
            bottom: 26%;
            right: 15%;
            font-size: 12px;
            color: #D4D9DD;  
            cursor: pointer;
            transition: .3s;
            &:hover {
                color: $blue;
            }

        };
        input {
            width: 369px;
            height: 73px;
            border: 1px solid #DDE3E8;
            border-radius: .5rem;

        }

    }
    &__buttons {
        button {
            padding: 19px 50px 18px 51px;
        }

    };

    &__erros {

        text-align: center;
        p {
            color: red;
            font-family: "NotoSansGeorgian-Regular";
            font-weight: normal;


        };
    };

    
}

