<div class="login row">
    <form action="" [formGroup]="loginForm"(ngSubmit)="onSubmit(loginForm)">
        <div class="login__title col-12">
            <h4>ავტორიზაცია</h4>
        </div>
        <div class="login__input col-12 mt-5">
            <p>მომხმარებელი</p>
            <input type="text"
                   formControlName="username"
                   [ngClass]="{ invalid: f.username.errors && isSubmitted }"
                   >
        </div>
        <div class="login__input col-12 mt-5">
            <p>პაროლი</p>
            <div class="w-100">
                <input type="password"
                        formControlName="password"
                        [ngClass]="{ invalid: f.password.errors && isSubmitted }"
                        >
                <span>დაგავიწყდა?</span>
            </div>
        </div>
        <div class="login__erros mt-5" *ngIf="isInvalid">
            <p>Credentials are invalid !</p>
        </div>
        <div class="login__buttons col-12 mt-5">
            <ng-container *ngIf="!isLoading; else spinner">
                <div class="login__buttons__container col-6 d-flex justify-content-between p-0">
                    
                        <button 
                                class="btn btn--primary" 
                                type="submit"
                                >
                                ავტორიზაცია
                        </button>
  
                        
                        <button class="btn btn--secondary"
                        type="button"
                        
                        (click) = 'routeToRegister()'
                        >
                        რეგისტრაცია
                    </button>
                </div> 
            </ng-container>
        </div>
        
        <ng-template #spinner>
            <div class="col-12 mt-3 d-flex justify-content-center">
                <!-- <app-loading-spinner></app-loading-spinner> -->
            </div>
        </ng-template>


    </form>
</div>