.dealers {

    &__left {
            font-family:  'NotoSansGeorgian-Regular';

;
        color: #313030;
        &__title {
            margin-top: 54px;
            h3 {
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 60px;
            }
        }; 

        &__dealer {
            border-bottom: 1px solid #D8D8D8;
            margin-top: 38px;
            &__title {
                h4 {
                    font-size: 14px;
                    font-weight: bold;
                    white-space: nowrap;
                    margin-bottom: 15px;
                    font-size: 16px;
                    font-family: 'Helvetica Neue';
                    
                }; 

                span {
                    font-size: 14px;
                    color: #707070;

                };

                .see {
                    color: #0071BB;
                    font-size: 12px;
                    cursor: pointer;
                }
            }
        };
    }

    &__map {

        &__img {
            width: 100%;
            height: 100%;

            img {  
                width: 100%;
                height: 100%;
            }
        }
    }
}