<div class="row dealers">
    <div class="col-lg-4 dealers__left">
        <div class="dealers__left__title col-12">
            <h3>აირჩიე მომწოდებელი</h3>
        </div>

        <div class="dealers__left__dealer col-12">
            <div class="dealers__left__dealer__title">
                <h4>Tegeta Motors at Aghmashenebeli</h4>
            </div>
            <div class="dealers__left__dealer__title">
                <span>ორშ-პარ 10:00-22:00</span>
            </div>
            <div class="dealers__left__dealer__title">
                <span>მიწოდება</span>
            </div>
            <div class="dealers__left__dealer__title d-flex justify-content-between mt-3">
                <p>1 დღე - 4 ლ</p>
                <p class="see" (click)="routeToDealerPrices()">ნახვა</p> 
            </div>
        </div>   

        <div class="dealers__left__dealer col-12">
            <div class="dealers__left__dealer__title">
                <h4>Tegeta Motors at Aghmashenebeli</h4>
            </div>
            <div class="dealers__left__dealer__title">
                <span>ორშ-პარ 10:00-22:00</span>
            </div>
            <div class="dealers__left__dealer__title">
                <span>მიწოდება</span>
            </div>
            <div class="dealers__left__dealer__title d-flex justify-content-between mt-3">
                <p>1 დღე - 4 ლ</p>
                <p class="see" (click)="routeToDealerPrices()">ნახვა</p> 
            </div>
        </div>   

        
    </div>

    <div class="col-lg-8 dealers__map">
        <div class="dealers__map__img">
            <img src="assets/img/map.png" alt="">
        </div>
    </div>
</div>