<div class="delivery-main">
    <div class="delivery-main__title">
        <h2>აირჩიე ჩაბარების მისამართი</h2>
    </div>
    <div class="delivery-main__box-one d-flex justify-content-between">
        <div class="delivery-main__box-one__one col-lg-6">
            <p>ჰენდრიკ სანსონი</p>
            <p>მწვანილის ქუჩა 200</p>
            <p>თბილისი</p>
            <p>HX1 5QN</p>
            <p>ტელ 032 22 22 22</p>  
            <div class="d-flex justify-content-between">
                <span>შეცვლა</span>
                <span>ახლის დამატება</span>
            </div>
   
        </div>
        <div class="delivery-main__box-one__two col-lg-6">
          map here :)
        </div>
    </div>
    <div class="delivery-main__title">
        <h2>მიწოდების მეთოდი</h2>
    </div>
    <div class="delivery-main__box-two d-flex justify-content-between">
         <div class="login__input col-lg-6 p-5">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                <label class="form-check-label w-100" for="exampleRadios1">
                    <div class="d-flex col-12 justify-content-between align-items-center">
                        <span>Free</span>
                        <p class="m-0">სტანდარტული</p>
                    </div>       
                </label>              
        </div>
        <div class="login__input col-lg-6  p-5">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option1" checked>
                <label class="form-check-label w-100" for="exampleRadios2">
                    <div class="d-flex col-12 justify-content-between align-items-center">
                        <span class="m-0">8.00</span>
                        <p>ჩქარი მიწოდება</p>
                    </div>  
                </label>  
        </div> 
    </div>

    <div class="delivery-main__button d-flex justify-content-end">
        <button class="btn btn--primary" (click)="routeToPayMethod()">შემდეგი ნაბიჯი</button>
    </div>
</div>