@import 'src/assets/variables';

.delivery-main {
        font-family:  'NotoSansGeorgian-Regular';

;

    &__title {
        margin-top: 67px;
        margin-bottom: 49px;
        h2 {
            font-size: 24px;
            color: #1B2125;

        }
    };

    &__box-one {

        &__one {
            // border: 1px solid #DDE3E8;
            padding: 30px;
            border-left: 1px solid #DDE3E8;
            border-top: 1px solid #DDE3E8;
            border-bottom: 1px solid #DDE3E8;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;


            p {
                color: #788995;
                font-size: 16px;
            };

            span {
                color: #0095F8;
                font-size: 14px;
                margin-top: 18px;

            }
        };

        &__two {
            padding: 30px;
            border-right: 1px solid #DDE3E8;
            border-top: 1px solid #DDE3E8;
            border-bottom: 1px solid #DDE3E8;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            border-left: 1px solid #DDE3E8;
        }
    }; 


    &__button {
        margin-top: 87px;
        button { 
            padding: 19px 50px 18px 51px;     
        }
        
    }
}



.login__input {
    border: 1px solid #DDE3E8;
    border-radius: 8px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    label {
        font-family: "NotoSansGeorgian-Regular";
        font-weight: normal;
        color: #1B2125;
        font-size: 16px;
        padding-left: 20px;
    }
    span { 
        position: absolute;
        bottom: 20%;
        right: 20%;
        font-size: 12px;
        color: #8e9cab;
        cursor: pointer;
        transition: .3s;
        &:hover {
            color: $blue;
        }

    };
    input {
        height: 50px;
        width: 25px;
        border: 1px solid #8e9cab;

    }

}