<div class="row technical">
    <div class="technical__title col-12">
        <h4>ტექნიკური მომსახურება</h4>
    </div>

    <div class="technical__cat col-lg-3">
        <div class="technical__cat__img">
            <div class="technical__cat__img__container">
                <img src="assets/img/wheel.svg" alt="">
            </div>
        </div>
        <div class="technical__cat__text">
            <p (click)="changeRoute()">ინსტრუმენტები</p>
        </div>
        <div class="technical__cat__text">
            <p (click)="changeRoute()">დომკრატი</p>
        </div>
        <div class="technical__cat__text">
            <p (click)="changeRoute()">ნაბორი</p>
        </div>
        <div class="technical__cat__text">
            <p (click)="changeRoute()">ხელის ინსტრუმენტები</p>
        </div>
    </div>

    <div class="technical__cat col-lg-3">
        <div class="technical__cat__img">
            <div class="technical__cat__img__container">
                <img src="assets/img/bbc.svg" alt="">
            </div>
        </div>
        <div class="technical__cat__text">
            <p (click)="changeRoute()">აქსესუარები</p>
        </div>
        <div class="technical__cat__text">
            <p (click)="changeRoute()">დეფლექტორი</p>
        </div>
        <div class="technical__cat__text">
            <p (click)="changeRoute()">ხალიჩები</p>
        </div>
        <div class="technical__cat__text">
            <p (click)="changeRoute()">დაცვა</p>
        </div>
    </div>

    <div class="technical__cat col-lg-3">
        <div class="technical__cat__img">
            <div class="technical__cat__img__container">
                <img src="assets/img/oil.svg" alt="">
            </div>
        </div>
        <div class="technical__cat__text">
            <p (click)="changeRoute()">ავტოქიმია</p>
        </div>
        <div class="technical__cat__text">
            <p (click)="changeRoute()">ზეთი</p>
        </div>
        <div class="technical__cat__text">
            <p (click)="changeRoute()">პრისადკა</p>
        </div>
        <div class="technical__cat__text">
            <p (click)="changeRoute()">არომატიზატორი</p>
        </div>
    </div>

    <div class="technical__cat col-lg-3">
        <div class="technical__cat__img">
            <div class="technical__cat__img__container">
                <img src="assets/img/oil.svg" alt="">
            </div>
        </div>
        <div class="technical__cat__text">
            <p (click)="changeRoute()">ელექტრომოწყობილობები</p>
        </div>
        <div class="technical__cat__text">
            <p (click)="changeRoute()">აკუმულატორი</p>
        </div>
        <div class="technical__cat__text">
            <p (click)="changeRoute()">განათება</p>
        </div>
        <div class="technical__cat__text">
            <p (click)="changeRoute()">ვიდეორეგისტრატორი</p>
        </div>
    </div>
</div>