.technical {

    &__title {
        margin-bottom: 48px;
        h4 {
            font-family: "NotoSansGeorgian-Medium";
            font-size: 16px;
            color: #002845;
        }
    };

    &__cat {

        &__img {
            margin-bottom: 16px;
            &__container {

                img {
                    background-color: #0071BB;
                    border-radius: 8px;     
                }
            };
        }

        &__text {
            margin-bottom: 30px;
            p {
                font-size: 14px;
                font-family: "NotoSansGeorgian-SemiBold";
                color: #002845;
                cursor: pointer;
            }
        }
    }
}