<div class="cart">
    <div class="cart__header">
         <app-header-search></app-header-search>
    </div>
    <div class="container">
        <div class="cart__body col-12">
           <router-outlet></router-outlet>
        </div>
    </div>
   
</div>
