<div class="login row">
    <form action="">
        <div class="login__title col-12">
            <h4>რეგისტრაცია</h4>
        </div>
        <div class="login__paragraph col-12">
            <p>გთხოვთ აირჩიოთ მოხმარებლის ტიპი</p>
        </div>
        <div class="login__input col-12 p-5">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">
                    ფიზიკური პირი
                </label>              
        </div>
        <div class="login__input col-12  p-5">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option1" checked>
                <label class="form-check-label" for="exampleRadios2">
                    შპს
                </label>  
        </div>   
        <div class="login__buttons col-12 mt-5">
            <div class="login__buttons__container col-6 d-flex justify-content-between p-0">
                <button class="btn btn--secondary" 
                        type="submit"
                        (click) = 'backToLogin()'>უკან</button>
                <button class="btn btn--primary"
                        type="button"
                        style="white-space: nowrap;"
                        (click) = 'nextStep()'>შემდეგი ნაბიჯი</button>
            </div>
        </div>
    </form>
</div>