@import 'src/assets/variables';
.login {
    justify-content: center;
    &__title {

        h4 {
            font-size: 24px;
            font-family: "NotoSansGeorgian-Regular";
            font-weight: normal;

        }
    };  

    &__paragraph {
        margin-top: 60px;
        margin-bottom: 50px;
        p {
            font-family: "NotoSansGeorgian-Regular";
            font-size: 14px;
            color: #8E9CAB;
        }
    }

    &__input {
        border: 1px solid #DDE3E8;
        border-radius: 8px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        label {
            font-family: "NotoSansGeorgian-Regular";
            font-weight: normal;
            color: #1B2125;
            font-size: 16px;
            padding-left: 20px;
        }
        span { 
            position: absolute;
            bottom: 20%;
            right: 20%;
            font-size: 12px;
            color: #8e9cab;
            cursor: pointer;
            transition: .3s;
            &:hover {
                color: $blue;
            }

        };
        input {
            height: 50px;
            width: 25px;
            border: 1px solid #8e9cab;

        }

    }
    &__buttons {
        button {
            padding: 19px 50px 18px 51px;
        }

    };
}