<div class="info ">
    <div class="info__title col-12">
        <h1>ინფორმაცია შემკვეთზე</h1>
    </div>
    <div c class="w-100 info__input d-flex justify-content-between">
        <div class="col-lg-6">
            <p>სახელი</p>
            <div>
                <input class="w-100" 
                       type="text"
                       placeholder=""
                        >
            </div>
        </div>
        <div class="col-lg-6">
            <p>გვარი</p>
            <div class="w-100">
                <input class="w-100" 
                       type="text"
                       placeholder=""
                        >
            </div>
        </div>
    </div>
    
    <div c class="col-12 info__input d-flex justify-content-between">
        <div class="w-100">
            <p>მისამართი</p>
            <div class="">
                <input class="w-100" 
                       type="text"
                       placeholder=""
                        >
            </div>
        </div>
    </div>

    <div class="w-100 info__input d-flex justify-content-between">
        <div class="col-lg-6">
            <p>რაიონი</p>
            <select name="" id="">
                <option value="" selected>აირჩიე რაიონი</option>
            </select>
        </div>
        <div class="col-lg-6">
            <p>რაიონი</p>
            <div class="w-100">
                <input class="w-100" 
                       type="text"
                       placeholder=""
                        >
            </div>
        </div>
    </div>


    <div c class="w-100 info__input d-flex justify-content-between">
        <div class="col-lg-6">
            <p>საფოსტო ინდექსი</p>
            <div class="">
                <input class="w-100" 
                       type="text"
                       placeholder=""
                        >
            </div>
        </div>
        <div class="col-lg-6">
            <p>ტელეფონი</p>
            <div class="">
                <input class="w-100" 
                       type="text"
                       placeholder=""
                        >
            </div>
        </div>
    </div>

    <div class="info__button d-flex justify-content-end mt-5 col-12">
        <button class="btn btn--primary" 
                (click)="routeToDeliveryDetails()">შემდეგი ნაბიჯი</button>
    </div>
</div>