.info {
  
    &__title {
        margin-top: 60px;
        margin-bottom: 50px;
        h1 {
            color: #1B2125;
            font-size: 24px;
        }
    }; 

    &__input {
        margin-top: 36px;
        p {
            color: #D4D9DD;
            font-size: 12px;
        }; 

        input {
            border: 1px solid #DDE3E8;
            border-radius: 8px;
        };

        select {
            border: 1px solid #DDE3E8;
            border-radius: 8px;
            width: 100%; 
            padding: 16px;
        }
    };

    &__button {

        button {
            
            padding: 19px 50px 18px 51px;
            
        }
    }

}