<div class="login row">
    <form [formGroup]="privateInfoForm"  
          (ngSubmit)="onSubmit(privateInfoForm)">
        <div class="login__title col-12">
            <h4>რეგისტრაცია</h4>
        </div>
        <div class="login__paragraph col-12">
            <p>შეავსეთ პირადი მონაცემები</p>
        </div>
        <div class="login__input col-12 mt-5">
            <p>იუზერი</p>
            <input type="text"
                   formControlName="name"
                   [ngClass]="{invalid: f.name.errors && isSubmitted}">
            
        </div>
        <div class="login__input col-12">
            <div class="w-100">
                <p>სახელი გვარი</p>
                <input type="text"
                       formControlName="fullName"
                       [ngClass]="{invalid: f.fullName.errors && isSubmitted}">
                
            </div>
        </div>
        <div class="login__input col-12">
            <div class="w-100">
                <p>პირადი ნომერი</p>
                <input type="text"
                       formControlName="pid"
                       [ngClass]="{invalid: f.pid.errors && isSubmitted}">
                
            </div>
        </div> <div class="login__input col-12">
            <div class="w-100">
                <p>ტელეფონის ნომერი</p>
                <input type="text"
                       formControlName="phone"
                       [ngClass]="{invalid: f.phone.errors && isSubmitted}">
            </div>
        </div>
        <div class="login__buttons col-12">
            <div class="login__buttons__container col-6 d-flex justify-content-between p-0">
                <button class="btn btn--secondary" 
                        type="button"
                        [routerLink]="'/main/register/select-category'"
                        >
                        უკან                             
                </button>
                <button class="btn btn--primary"
                        type="submit"
                        style="white-space: nowrap;"
                        >
                        შემდეგი ნაბიჯი
                </button>
            </div>
        </div>
    </form>
</div>