@import 'src/assets/variables';
.login {
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 150px;
    &__title {

        h4 {
            font-size: 24px;
            font-family: "NotoSansGeorgian-Regular";


        }
    };  

    &__paragraph {
        margin-top: 60px;
        margin-bottom: 60px;

        p {
            font-size: 14px;
            color: #8E9CAB;
            font-family: "NotoSansGeorgian-Regular";

        }
    };      
    &__input {
        margin-top: 30px;
        p {
            font-size: 12px; 
            color: #D4D9DD;
            font-family: "NotoSansGeorgian-Regular";
            margin-bottom: 7px;;
        }
        span {
            font-family: "NotoSansGeorgian-Regular";
            position: absolute;
            bottom: 20%;
            right: 20%;
            font-size: 12px;
            color: #8e9cab;
            cursor: pointer;
            transition: .3s;
            &:hover {
                color: $blue;
            }

        };
        input {
            width: 369px;
            height: 73px;
            border: 1px solid #DDE3E8;
            border-radius: .5rem;

        }

    }
    &__buttons {
        margin-top: 60px;
        button {
            padding: 19px 50px 18px 51px;
        }

    };
}