.dealers {
        font-family:  'NotoSansGeorgian-Regular';

;

    &__left {

        &__back {
            margin-top: 67px;
            margin-bottom: 32px;
            span {
                font-size: 12px;
                color: #707070;
            };
        }; 

        &__img {
            margin-bottom: 35px;
            &__container {
                width: 200px;
                height: 118px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }; 


        &__price {

            &__title {
                h3 {
                    font-size: 14px;
                    font-weight: bold;
                    color: #4B4B4B;
                    margin-top: 35px;
                    margin-bottom: 30px;

                }
            }
        }
 
        &__title {
            h3 {
                font-size: 14px;
                font-weight: bold;
                color: #4B4B4B;
                
            }; 

            span {
                font-size: 14px;
                color: #707070;
                margin-top: 15px;
            }; 

            p {
                font-size: 14px;
                color: #4B4B4B;
                margin-top: 15px;
                font-family: 'Helvetica Neue';

            }
        }; 

        &__stars {
            &__title {
                h3 {
                    font-size: 14px;
                    font-weight: bold;
                    color: #4B4B4B;
                    margin-top: 35px;
                    margin-bottom: 30px;
                }
            }; 

            &__star {
              
            }
            
        }; 
    };





    &__right {

        &__title {
            margin-top: 70px;
            h2 {
                font-size: 16px;
                font-weight: bold;
            }
        }; 

        &__box {
            margin-top: 53px;
            border-bottom: 1px solid #D8D8D8;

            &__title {

                h3 {
                    font-size: 16px;
                    font-weight: bold;
                    color: #222222;
                    font-family: 'Helvetica Neue';

                }; 
    
                p {
                    font-size: 16px;
                    font-weight: bold;
                    color: #ADADAD;
                    font-family: 'Helvetica Neue';

                }; 
    
                span {
                    font-size: 12px;
                    color: #ADADAD;
                }
            }; 

           
        }; 


        table {
        tr:nth-child(even){background-color: #f2f2f2;}
         tr:hover {background-color: #ddd;}
         th {
            // padding-top: 12px;
            padding-bottom: 20px;
            padding-left: 20px;
            // padding: 20px;
           
            };
            td {
                color: #707070;
                font-size: 14px;
                padding: 20px;

            };

            th {
                font-size: 12px;
                color: #707070;
                // padding: 20px;

            };

            .price {
                text-align: end;
                p {
                    padding-left: 42px;
                    padding-right: 30px;
                }
            }
        }
    }
}



::ng-deep ngb-rating  {
    span {
        color:#FFB259;
        font-size: 18px;
    }
}