<div class="dealers row">
    <div class="col-lg-3 dealers__left">
        <div class="dealers__left__back">
            <span>მომწოდებლის შეცვლა</span>
        </div>
        <div class="">
            <div class="dealers__left__img">
                <div class="dealers__left__img__container">
                    <img src="assets/img/icon.png" alt="img">
                </div>
            </div>
            <div class="dealers__left__title">
                <p>Tegeta Motors </p>
            </div>
            <div class="dealers__left__title">
                <span>ორშ-პარ 10:00-22:00 </span>
            </div>
            <div class="dealers__left__title mt-4">
                <span>მიწოდება </span>
            </div>
            <div class="dealers__left__title">
                <p>1 დღე - 4 ლ </p>
            </div>
            <div class="dealers__left__price">
                <div class="dealers__left__price__title">
                    <h3>ფასი</h3>
                </div>
                <div class="dealers__left__price__container d-flex justify-content-between col-8 p-0">
                    <input  class="small-input" type="text" name="" id="" placeholder="500">
                    <input  class="small-input" type="text" name="" id="" placeholder="1000">
                </div>
            </div>
            <div class="dealers__left__stars">
                <div class="dealers__left__stars__title">
                    <h3>შეფასებები</h3>
                </div>
                <div class="dealers__left__stars ">
                    <ngb-rating [rate]="1" [max] = '5' [readonly] = 'true'></ngb-rating>
                </div>   
                <div class="dealers__left__stars ">
                    <ngb-rating [rate]="2" [max] = '5' [readonly] = 'true'></ngb-rating>
                </div>
                <div class="dealers__left__stars ">
                    <ngb-rating [rate]="3" [max] = '5' [readonly] = 'true'></ngb-rating>
                </div>
                <div class="dealers__left__stars ">
                    <ngb-rating [rate]="4" [max] = '5' [readonly] = 'true'></ngb-rating>
                </div>
                <div class="dealers__left__stars ">
                    <ngb-rating [rate]="5" [max] = '5' [readonly] = 'true'></ngb-rating>
                </div>
            </div>
        </div>
    </div>

    <div class="dealers__right col-lg">
        <div class="dealers__right__title">
            <h2>სხვა მწარმოებლის ანალოგები</h2>
        </div>
        <div class="dealers__right__box col-12 d-flex justify-content-between p-0 pb-4">
            <div class="dealers__right__box__title col-lg-3 p-0">
                <h3>Herth Huss</h3>
                <p>1987481157</p>
                <span>ბორბალი</span>
            </div>
            <div class="dealers__right__box__container col-lg">
                <table class="w-100">
                    <tr>
                      <th>შეფასება</th>
                      <th>რაოდ.</th>
                      <th>ვადა</th>
                      <th class="text-center">ფასი</th>
                    </tr>
                    <tr>
                      <td class="d-flex justify-content-around">
                        3.5
                    <ngb-rating [rate]="1" 
                                [max] = '1' 
                                [readonly] = 'true'>
                    </ngb-rating>

                      </td>
                      <td>100ც</td>
                      <td>38 დღე</td>
                      <td class="price d-flex justify-content-end">
                          <p class=" epr-3">
                              200ლარი
                          </p>
                        <button class="btn btn--light-blue" (click)="routeToCart()">ყიდვა</button>
                      </td>
                    </tr>
                    <tr>
                        <td class="d-flex justify-content-around">
                            3.5
                            <ngb-rating [rate]="1" 
                                        [max] = '1' 
                                        [readonly] = 'true'>
                            </ngb-rating>
                        </td>
                        <td>100ც</td>
                        <td>38 დღე</td>
                        <td class="price d-flex justify-content-end">
                            <p class=" epr-3">
                                200ლარი
                            </p>
                            <button class="btn btn--light-blue" (click)="routeToCart()">ყიდვა</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="d-flex justify-content-around">
                            3.5
                            <ngb-rating [rate]="1" 
                                        [max] = '1' 
                                        [readonly] = 'true'>
                             </ngb-rating>

                        </td>
                        <td>100ც</td>
                        <td>38 დღე</td>
                        <td class="price d-flex justify-content-end">
                            <p>
                                200ლარი
                            </p>
                            <button class="btn btn--light-blue" (click)="routeToCart()">ყიდვა</button>
                        </td>
                    </tr>
                  
                  </table>
            </div>
        </div>


        

        <div class="dealers__right__box col-12 d-flex justify-content-between p-0 pb-4">
            <div class="dealers__right__box__title col-lg-3 p-0">
                <h3>Herth Huss</h3>
                <p>1987481157</p>
                <span>ბორბალი</span>
            </div>
            <div class="dealers__right__box__container col-lg">
                <table class="w-100">
                    <tr>
                      <th>შეფასება</th>
                      <th>რაოდ.</th>
                      <th>ვადა</th>
                      <th class="text-center">ფასი</th>
                    </tr>
                    <tr>
                      <td class="d-flex justify-content-around">
                        3.5
                    <ngb-rating [rate]="1" 
                                [max] = '1' 
                                [readonly] = 'true'>
                    </ngb-rating>

                      </td>
                      <td>100ც</td>
                      <td>38 დღე</td>
                      <td class="price d-flex justify-content-end">
                          <p class=" epr-3">
                              200ლარი
                          </p>
                        <button class="btn btn--light-blue" (click)="routeToCart()">ყიდვა</button>
                      </td>
                    </tr>
                    <tr>
                        <td class="d-flex justify-content-around">
                            3.5
                            <ngb-rating [rate]="1" 
                                        [max] = '1' 
                                        [readonly] = 'true'>
                            </ngb-rating>
                        </td>
                        <td>100ც</td>
                        <td>38 დღე</td>
                        <td class="price d-flex justify-content-end">
                            <p class=" epr-3">
                                200ლარი
                            </p>
                            <button class="btn btn--light-blue" (click)="routeToCart()">ყიდვა</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="d-flex justify-content-around">
                            3.5
                            <ngb-rating [rate]="1" 
                                        [max] = '1' 
                                        [readonly] = 'true'>
                             </ngb-rating>

                        </td>
                        <td>100ც</td>
                        <td>38 დღე</td>
                        <td class="price d-flex justify-content-end">
                            <p class=" epr-3">
                                200ლარი
                            </p>
                            <button class="btn btn--light-blue" (click)="routeToCart()">ყიდვა</button>
                        </td>
                    </tr>
                  
                  </table>
            </div>
        </div>



      
    </div>
</div>