<div class="login row">
    <form action="" [formGroup]="deliveryForm" (ngSubmit)="onSubmit(deliveryForm)">
        <div class="login__title col-12">
            <h4>რეგისტრაცია</h4>
        </div>
        <div class="login__paragraph col-12">
            <p>მიწოდების მისამართი</p>
        </div>
        <div class="login__input col-12">
            <p>ქალაქი</p>
            <input type="text"
                    formControlName="city"
                    [ngClass]="{invalid: f.city.errors && isSubmitted}">
        </div>
        <div class="login__input col-12"> 
            <div class="w-100">
                <p>ქუჩა</p> 
                <input type="text"
                       formControlName="street"
                       [ngClass]="{invalid: f.street.errors && isSubmitted}"
                       >
            </div>
        </div>
        <div class="login__input col-12">
            <div class="w-100"
                 >
                <p>ბინა</p>
                <input type="text"
                       formControlName="flat"
                       [ngClass]="{invalid: f.flat.errors && isSubmitted}">
            </div>
        </div> 
        <div class="login__buttons col-12">
            <div class="login__buttons__container col-6 d-flex justify-content-between p-0">
                <button class="btn btn--secondary" 
                        type="button"
                        [routerLink]="'/main/register/select-category'"
                        >
                        უკან                             
            </button>
                <button class="btn btn--primary"
                        type="submit"
                        style="white-space: nowrap;"
                        >შემდეგი ნაბიჯი</button>
            </div>
        </div>
    </form>
</div>