<div class="payment row">
    <div class="col-lg-8 payment__body">
        <div class="payment__body__container">
            <app-payment-method-main></app-payment-method-main>
        </div>
    </div>
    <div class="payment__cart col-lg">
        <app-cart-busket></app-cart-busket>
    </div>
</div>