<div class="container">
    <div class="row header justify-content-between align-items-center h-100 pt-5">
        <div class="header__logo col-xl-2 d-flex align-items-center">
            <h4 (click)="routeToHome()">Inventor</h4>
        </div>
        <div class="header__search__filter col-xl-8 h-100">
            <app-search></app-search>
        </div>
        <div class="header__busket col-xl-2 h-100">
            <app-busket></app-busket>
        </div>
    </div>  
</div>