.header {
    display: flex;
    justify-content: center;
    &__logo {
        font-size: 14px;
        color: white;   

        h4 {
            text-align: center;
            width: 100%;
            cursor: pointer;
            font-family: 'Montserrat';
        }
    }
}