@import 'src/assets/variables'; 

.filter {


    &__burger {
       display: flex;
       align-items: center;
       justify-content: end;
       cursor: pointer;
       height: 100%;
       background: white;
       border-radius: 8px;
       display: flex;
       justify-content: center;
        &__img {
            border-radius: 8px;
            height: 100%;
            display: flex;
            align-items: center;
            span {
                font-size: 10px;
                font-family: 'NotoSansGeorgian-Regular';

            }
            img {
                // width: 100%;
                // height: 100%;
            }
        }
    };

    &__search {
        justify-content: center;
        &__content {
            background-color: white;
            border-radius: 8px;
            padding-left: 15px;
            &__name {

                input {
                    outline: none;
                    border: none;
                    width: 100%;
                    font-size: 10px;
                    font-family: 'NotoSansGeorgian-Regular';
                    
                }
            }; 
            &__detail {

                input {
                    outline: none;
                    border: none;
                    width: 100%;
                    font-size: 10px;
                    font-family: 'NotoSansGeorgian-Regular';
                    
                }
            }; 

            &__detail { 

                input {
                    outline: none;;
                    border: none;
                    width: 100%;
                    font-family: 'NotoSansGeorgian-Regular';

                }  
            };  


            &__button {
                background-color: $dark_blue;
                color: white;
                padding-right: 30px;
                padding-left: 30px;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                text-align: center;
                cursor: pointer;

                p {
                    margin: 0;
                    text-align: center;
                    width: 100%;
                    font-size: 10px;
                    font-size: 10px;
                    font-family: 'NotoSansGeorgian-Regular';

                }
            }
            
        }
    }
}