<div class="fiter d-flex h-100 justify-content-between">
    <div class="filter__search row align-items-center justify-content-between col-lg">
        <div class="filter__burger d-flex col-lg-1">
            <div class="filter__burger__img">
                <img src="assets/img/Group.png" alt="">
            </div>
        </div>
       <div class="filter__search__content d-flex justify-content-between col-lg-9 p-0">
           <div class="filter__search__content__name col-6">
             <input type="text" placeholder="მოძებნე ნაწილი დასახელებით">
           </div>
           <div class="filter__search__content__detail col-4">
               <input type="text" placeholder="დეტალის ნომერი">
           </div>
           <div class="filter__search__content__button col d-flex align-items-center">
                <p>ძებნა</p>
           </div>
       </div>
       <div class="filter__burger d-flex col-lg-1 justify-content-center px-5">
           <div class="filter__burger__img" style="cursor: pointer;">
               <span>დახმარება</span>
           </div>
       </div>
    </div>
</div>