
.banner {
    height: 201px;
    background-color: #022F4C;
    border-radius: 8px;
    margin-top: -9%;
    background-image: url("../../../../assets/img/car.svg");


    &__title {

        h4 {
            font-size: 26px;
            color: white;
            font-family: 'NotoSansGeorgian-SemiBold';
            align-items: center;
        }; 
    }; 

    &__text {
        p {
            font-size: 16px;
            color: #ABC9DD;
            font-family: 'NotoSansGeorgian-Light';

        }
    }


}