<div class="banner col-12 p-5">
        <div class="banner__title">
            <h4>მანქანის ნაწილების მოძიება</h4>
        </div>
        <div class="banner__text">
            <p>აღწერა ლორემ იპსუმ დოლორ</p>
        </div>
</div>