/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';


html,body {
    min-width: fit-content;
    margin: 0;
    padding: 0;;
}
// * * * Styles * * * *
@font-face {
    font-family: 'NotoSansGeorgian-Regular';
    src: url(assets/fonts/NotoSansGeorgian-Regular.ttf);
};
@font-face {
    font-family: 'NotoSansGeorgian-SemiBold';
    src: url(assets/fonts/NotoSansGeorgian-SemiBold.ttf);
};
@font-face {
    font-family: 'NotoSansGeorgian-Light';
    src: url(assets/fonts/NotoSansGeorgian-Light.ttf);
};

@font-face {
    font-family: 'NotoSansGeorgian-Medium';
    src: url(assets/fonts/NotoSansGeorgian-Medium.ttf);
};
@font-face {
    font-family: 'Helvetica Neue';
    src: url(assets/fonts/HelveticaNeueLTGEOW82-65Md.ttf);
};
//  * * *  Buttons * * * *
.btn--secondary {
    color: #0071BB;
    outline: none;
    box-shadow: none !important;
    font-weight: normal;
    font-family: 'NotoSansGeorgian-Regular';
    font-size: 14px;


}; 

.btn--primary {
    background: #0071BB;
    font-weight: normal;
    font-family: 'NotoSansGeorgian-Regular';
    font-size: 14px;
    color: white !important;



}; 

.btn--green {
    background: #45C1B1;
    font-weight: normal;
    font-family: 'NotoSansGeorgian-Regular';
    font-size: 14px;
    color: white !important;
};

.btn--dark-blue {
    background: #022F4C;
    font-weight: normal;
    font-family: 'NotoSansGeorgian-Regular';
    font-size: 10px;
    color: white !important;
}; 

.btn--light-blue {
    background-color: #0071BB;
    font-weight: normal;
    font-family: 'NotoSansGeorgian-Regular';
    font-size: 10px;
    color: white !important;

}; 

.btn-light-blue-secondary {
    background-color: #0070bb43;
    font-weight: normal;
    font-family: 'NotoSansGeorgian-Regular';
    font-size: 10px;
    color: white !important;

}


.btn--disabled {
    background: #FFFFFF;
    border:  1px solid #E0E0E0;
    border-radius: 8px;
    font-weight: normal;
    font-family: 'NotoSansGeorgian-Regular';
    font-size: 10px;
    color: #A9A9A9 !important;
}; 



.btn--lg {
    padding: 19px 50px 18px 51px !important; 
}
















//  * * *  INputs * * * * 

input {
    padding: 16px;
}
.invalid {

    border-color: rgba(201, 21, 21, 0.886) !important;
}; 

.small-input {
    font-size: 14px;
    max-width: 70px;
    max-height: 40px;
    background: transparent;
    border-radius: 8px;
    border: 1px solid #C8C8C8;
}; 





