<div class="filter container">
    <div class="filter__title col-12">
        <h4>ბორბლები</h4>
    </div>
    <div class="filter__price col-12">
        <div class="filter__price__title">
            <h4>ფასი</h4>
        </div>
        <div class="filter__pricer__input d-flex justify-content-between">
            <div class="col-lg-4">
                <input class="small-input" type="text" placeholder="500">
            </div>
            <div class="col-lg-2">
                <p>-</p>
            </div>
            <div class="col-lg-4">
                <input class="small-input" type="text" placeholder="1000">
            </div>
        </div>
    </div>
    <div class="filter__price col-12">
        <div class="filter__price__title">
            <h4>ზომა</h4>
        </div>
        <div class="filter__pricer__input d-flex justify-content-between">
            <div class="col-lg-4">
                <input class="small-input" type="text" placeholder="500">
            </div>
            <div class="col-lg-2">
                <p>-</p>
            </div>
            <div class="col-lg-4">
                <input class="small-input" type="text" placeholder="1000">
            </div>
        </div>
    </div>
    <div class="filter__stars col-12">
        <div class="filter__stars__title">
            <h4>შეფასებები</h4>
        </div>
        <div class="filter__stars">
            <ngb-rating [rate]="1" [max] = '5' [readonly] = 'true'></ngb-rating>
        </div>   
        <div class="filter__stars">
            <ngb-rating [rate]="2" [max] = '5' [readonly] = 'true'></ngb-rating>
        </div>
        <div class="filter__stars">
            <ngb-rating [rate]="3" [max] = '5' [readonly] = 'true'></ngb-rating>
        </div>
        <div class="filter__stars">
            <ngb-rating [rate]="4" [max] = '5' [readonly] = 'true'></ngb-rating>
        </div>
        <div class="filter__stars">
            <ngb-rating [rate]="5" [max] = '5' [readonly] = 'true'></ngb-rating>
        </div>
        <div class="filter__brands">
            <div class="filter__brands__title">
                <h4>ბრენდები</h4>
            </div>
        </div>
        <div class="filter__price">
            <div class="filter__price__title">
                <h4>ფასი</h4>
            </div>
             <div class="filter__pricer__inputs d-flex justify-content-between">
                <div class="">
                    <input class="small-input" type="text" placeholder="მინ">
                </div>
                <div class="">
                    <input  class="small-input" type="text" placeholder="მაქს">
                </div>
            </div>
        </div>
    </div>
</div>