.filter {
        font-family:  'NotoSansGeorgian-Regular';

;
    &__title {
        margin-top: 60px;
        h4 {
            font-size: 16px;
            margin-top: 40px;
        }
    }; 

    &__price, &__brands {
        margin-top: 47px;

        &__title {
            h4 {
                font-size: 16px;
            }
        }; 

    }; 

    &__stars {
        margin-top: 18px;
        &__title {
            margin-bottom: 30px;; 
            margin-top: 42px;

            h4 {
                font-size: 16px;

            }

        }; 
    }
};

 

::ng-deep ngb-rating  {
    span {
        color:#FFB259;
        font-size: 18px;
    }
}

