<div class="busket row">
   
    <div class="busket__title col-12 d-flex justify-content-between d-flex">
        <div class="">
            <h2>
                კალათა
            </h2>
        </div>
        <div class="">
            <div class="busket__title__notify">
                <span>2</span>
            </div>
        </div>  
    </div>

    <div class="busket__orders w-100">
        <div class="w-100 busket__orders__box d-flex justify-content-between">
            <div class="busket__orders__box__img">
                <div class="busket__orders__box__img__container">
                    <img src="assets/img/Bitmap.svg" alt="order__logo">
                </div>
            </div>
            <div class="busket__orders__box__text">
                <p>ბორბალი Hytek 400</p>
                <p>Tek2144</p>
                <span>120.00</span>
            </div>
        </div>
    </div>


    <div class="busket__total w-100">
        <div class="busket__total__shipping">
            <div class="d-flex justify-content-between">
                <p>Subtotal</p>
                <span>169.80</span>
            </div>
            <div class="d-flex justify-content-between">
                <p>Shipping</p>
                <span>Free</span>
            </div>
        </div>
        <div class="busket__total__total">
            <div class="d-flex justify-content-between">
                <p>Total</p>
                <span>169.80</span>
            </div>
        </div>
    </div>
    
</div>