.busket {

    &__title {
        margin-top: 67px;
        margin-bottom: 46px;
        border-bottom: 1px solid #E4EAEE;
        padding-bottom: 30px;

        h2 {
            color: #1B2125;
            font-size: 24px;
        }; 
    
        &__notify {
            background-color: #0095F8;
            border-radius: 50%;
            padding: 5px;
            span {
                color: white;
                font-size: 12px;
            }
        }
    }; 


    &__orders {

        &__box {

            &__img{

                &__container {
                    width: 88px;
                    height: 88px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            };

            &__text {

                p {
                    font-size: 16px;
                    color: #788995;
                };

                span {
                    font-size: 16px;
                    font-family: "Helvetica Neue";
                    color: #788995;
                    font-weight: bold;
                }
            };


          
        }
    };

    &__total {
        margin-top: 247px;
        font-size: 16px;
        font-family: 'Helvetica Neue';
        &__shipping {
            border-bottom: 2px solid #E4EAEE;
            padding-bottom: 15px;
            font-size: 16px;
       
            p {
                color: #788995;
                font-size: 14px;
         

            }; 

            span {
                color: #788995;
                font-size: 14px;
              
                font-weight: bold;
            }

        };

        &__total {
            margin-top: 27px;
            font-size: 16px;
      
            p {
                font-size: 16px;
                color: #1B2125;
            }
            span {
                font-size: 16px;
                color: #1B2125;
                font-weight: bold;
            }
        }
    }
}