<div class="success">

    <div class="success__img col-12">
        <div class="success__img__container">
            <img src="assets/img/success.svg" alt="">
        </div>
    </div>
    <div class="success__title">
        <h2>თქვენ წარმატებით შეუკვეთეთ</h2>
    </div>
    <div class="success__subtitle">
        <p>გილოცავთ, თქვენ რეგისტრაცია წარმატებით გაიარეთ. გთხოვთ დაადასტუროთ ელფოსტა</p>
    </div>
    <div class="success__button ">
        <button class="btn btn--primary" (click)="routeToHome()">უკან დაბრუნება</button>
    </div>
</div>