.success {
        font-family:  'NotoSansGeorgian-Regular';

;

    &__img {
        margin-top: 70px;
        display: flex;
        justify-content: center;
        &__container {
            padding: 30px;
            background-color: #45c1b12e;
            border-radius: 50%;
            
        }
    };

    &__title {
        margin-top: 50px;

        h2 {
            font-size: 18px;
            color: #000000;
            font-weight: bold;
            text-align: center;
        }
    };


    &__subtitle {
        margin-top: 25px;

        p {
            font-size: 14px;
            color: #707070;
            text-align: center;
        }
    };

    &__button {
        display: flex;
        justify-content: center;
        margin-top: 97px;

        button {
            padding: 19px 50px 18px 51px;     

        }
    }

    
}