<div class="row categories">

    <div class="categories__box col-lg-4">
        <div class="categories__box__content">
            <div class="categories__box__content__img">
                <div class="categories__box__content__img__container">
                    <img src="assets/img/Bitmap.svg" alt="">
                </div>
            </div>
            <div class="categories__box__content__title">
                <p style="cursor: pointer;" 
                   (click)="changeRoute()">R15 185/60 Cordiant SPORT-2 PS-501</p>
            </div>
            <div class="categories__box__content__subtitle">
                <span>186/60</span>
                <span>R15</span>
            </div>
            <div class="categories__box__content__price">
                <p>500 ლარიდან</p>   
            </div>  
        </div>
    </div>

    
</div>