.categories {

    &__box {
    
        &__content { 
            border: 1px solid #DEDEDE;
            border-radius: 8px;
            &__img {

                &__container {
                    width: 100%;
                    height: 118px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }; 

            &__title {
                padding: 15px;

                p {
                    font-size: 14px;
                    color: #000000;
                    font-family: 'Helvetica Neue';
                }
            }; 

            &__subtitle {
                padding: 15px;

                span { 
                    font-size: 14px;
                    color: #000000;
                    font-family: 'Helvetica Neue';

                }
            }; 

            &__price {
                background-color: #EFF9FF;
                padding: 15px;
                p { 
                    font-size: 14px;
                    color: #0071BB;
                }
            }
        }
    }
}