<div class="pay">
    <div class="pay__title">
        <h1>აირჩიე გადახდის მეთოდი</h1>
    </div>
    <div class="pay__box">
        <div class="pay__box__title">
            <input type="radio" name="cart" id="cart">
            <label for="cart">
                <div class="w-100 d-flex justify-content-between">
                    <div class="">
                        <p>საკრედიტო ბარათით</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="cart__img col-4">
                            <div class="cart__img__container">
                                <img src="assets/img/master.svg" alt="">
                            </div>
                        </div>
                        <div class="cart__img col-4">
                            <div class="cart__img__container">
                                <img src="assets/img/visa.svg" alt="">
                            </div>
                        </div>
                        <div class="cart__img col-4">
                            <div class="cart__img__container">
                                <img src="assets/img/amex.svg" alt="">
                            </div>
                        </div>
                    </div>
                  
                </div>
                <div class="w-100">
                    <span>ვიზა, მაესტრო, ამერიკან ექპსრესი, მასტერქარდი</span>
                </div>
            </label>
        </div>

        <div class="pay__box__input">
            <div class="col-12">
                <p>ბარათის ნომერი</p>
                <input type="text" name="" id="" placeholder="0000 0000 0000 0000">
            </div>
            <div class="col-12 d-flex justify-content-between">
                <div class="col-lg-6">
                    <p>სახელი ბარათზე</p>
                    <input type="text" name="" id="">
                </div>
                <div class="col-lg-3">
                    <p>ვადა</p>
                    <input type="text" name="" id="" placeholder="MM / YY">
                </div>
                <div class="col-lg-3">
                    <p>CVV  კოდი</p>
                    <input type="text" name="" id="">
                </div>
            </div>
        </div>
    </div>

    <div class="pay__box__two">
        <div class="pay__box__two__container">
            <input type="radio" name="cart" id="other">
            <label for="other">ადგილზე გადახდა</label>
        </div>
    </div>

    <div class="pay__button d-flex justify-content-end">
        <button class="btn btn--primary" (click)="routeToSuccess()">შემდეგი ნაბიჯი</button>
    </div>
</div>